.about{
    width: 100%;
}

.MisionVision h2{
    color: #7CA053;
    text-align: center;
}

.nosotros h2{
    color: #7CA053;
    text-align: center;
}

.historia{
    display: flex;
    width: 100%;
    height: 300px;
}

.receta{
    padding: 1%;
    height: 100px;
    width: 50%;
    padding: 01% 0% 0% 4%;
    
    
}

.plato{
    width: 90%;
    height: 250px;
    border-radius: 20px;
    
}

.nosotros{
    width: 50%;
    padding: 0.5% 0% 0% 0%;
}

.MisionVision{
    display: flex;
    width: 100%;
    height: 300px;
}

.mision{
    width: 50%;
    height: 300px;
    padding: 0% 1%;
}

.vision{
    width: 50%;
    height: 300px;
    padding: 0% 1%;
}