body{
    margin: 0%;
    
}

.imagen{
    width: 100%;
    height: 300px;
    padding: 0% 0% 1% 0%;
}

.imagen__vegano{
    width: 100%;
    height:100%;
    
}

.texto{
    text-align: center;
    color: #7CA054;
}

.contacto{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0%;  
}

.contactoLeft{
    width: 50%;
    height: 100%;   

}

.sembrarElCambio{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.comiendo_ensalada{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.contactoRight {
    width: 50%;
    padding: 7% 0px 0px 0px;
    background-color:;

}

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 1%;
    border-radius: 12px;
}

.btn{
    border-radius: 10px;
    align-items: center;
}