.footer{
    display: flex;
    background-color: black;
    padding: 0%;
    color: aliceblue;
    height: 210px;
    
}

.logoFooter{
    display: flex;
    height: 60px;
    width: 100px;
    padding: 3% 0% 0% 50px;
}

.footer li{
    list-style: none;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.footerLeft{
display: flex;
flex-direction: column;
width: 30%;
padding: 0% 10% 0% 5%;
}

.footerCenter{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2% 0% 0% 5%;
}

.footerRight{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2% 5% 0% 3%;
}

.logoRedSocial{
    width: 20px;
    padding: 0px 10px 0px 0px;
}


