body {
    margin: 0%;
    padding: 0%;
}

nav {
    display: flex;
    background-color: black;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.navbarLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoPrincipal {
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    /*justifica el contenido para que se organice a lo largo de la nav
    justify-content: space-around;
    */
    /*tipo de letra*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
}

nav li {
    display: flex;
    padding: 0% 20px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

.navbarRight {
    display: flex;
    align-items: center;
    padding: 0%;
}